
<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    * {
      box-sizing: border-box;
    }
    label {
      padding: 12px 60px 12px 0;
      display: inline-block;
      width: 5%;
    }
    input[type=text], input[type=password] {
   width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
    }  
    input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  </style>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <form action="/formdata" method="post">
      <div class="form-field">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="">
      </div>
      <div class="form-field">
        <label for="surname">Surname:</label>
        <input type="text" name="surname" id="surname" value="">
      </div>
      <div class="form-field">
        <label for="hobby">Hobby:</label>
        <input type="text" name="hobby" id="hobby" value="">
      </div>
      <div class="form-action">
        <input type="submit" value="Submit">
      </div>
    </form>
</body>
</html>